In [1]:
import pandas as pd
pd.set_option('display.max_colwidth', -1)
pd.set_option('display.max_rows', 500)
pd.set_option('display.float_format', lambda x: '%.3f' % x)

In [3]:

df = pd.read_csv('indicators.csv',encoding='ISO-8859-1')

In [7]:

def rename_rows(words):

    if words =="Food production index (2004-2006 = 100)":
        return 'food_index'
    elif words =="GDP per capita (constant 2010 US$)":
        return 'gdp_capita'
    elif words =="Trade (% of GDP)":
        return 'trade'
    elif words =="GDP (constant 2010 US$)":
        return 'gdp'
    elif words =="Tax revenue (% of GDP)":
        return 'tax_rev'
    elif words =="School enrollment, primary (% gross)":
        return 'school_enroll_prim'
    elif words =="School enrollment, preprimary (% gross)":
        return 'school_enroll_prep'
    elif words =="Researchers in R&D (per million people)":
        return 'rd'
    elif words =="School enrollment, primary and secondary (gross), gender parity index (GPI)":
        return 'school_gpi'
    else:
        return words

In [8]:

df['indicator_name']=df['indicator_name'].map(rename_rows)

In [6]:
df1=df.iloc[74025:]

In [10]:
df2=df1[(df1['indicator_name'] =='food_index') | \
        (df1['indicator_name'] =='gdp_capita') | \
        (df1['indicator_name'] =='gdp') | \
        (df1['indicator_name'] =='tax_rev') | \
        (df1['indicator_name'] =='school_enroll_prim') | \
        (df1['indicator_name'] =='school_enroll_prep') | \
        (df1['indicator_name'] =='rd') | \
        (df1['indicator_name'] =='school_gpi') | \
        (df1['indicator_name'] =='trade')]

In [11]:
val_list=list(df.iloc[:, 4:])
print (val_list)

['1960', '1961', '1962', '1963', '1964', '1965', '1966', '1967', '1968', '1969', '1970', '1971', '1972', '1973', '1974', '1975', '1976', '1977', '1978', '1979', '1980', '1981', '1982', '1983', '1984', '1985', '1986', '1987', '1988', '1989', '1990', '1991', '1992', '1993', '1994', '1995', '1996', '1997', '1998', '1999', '2000', '2001', '2002', '2003', '2004', '2005', '2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013', '2014', '2015', '2016', '2017']

In [12]:
df_clean =pd.melt(df2, id_vars=['country_name', 'country_code',\
                               'indicator_code','indicator_name'], value_vars=val_list,var_name='year')
df_clean.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 113274 entries, 0 to 113273
Data columns (total 6 columns):
country_name      113274 non-null object
country_code      113274 non-null object
indicator_code    113274 non-null object
indicator_name    113274 non-null object
year              113274 non-null object
value             58109 non-null float64
dtypes: float64(1), object(5)
memory usage: 5.2+ MB

In [14]:
 df_indicators = df_clean.pivot_table('value', ['country_name', 'country_code', 'year'], 'indicator_name')

In [15]:
df_indicators.reset_index(inplace=True)

In [16]:
df_indicators['country_name'].value_counts().sort_index();
df_indicators.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12586 entries, 0 to 12585
Data columns (total 12 columns):
country_name          12586 non-null object
country_code          12586 non-null object
year                  12586 non-null object
food_index            9922 non-null float64
gdp                   8750 non-null float64
gdp_capita            8747 non-null float64
rd                    1272 non-null float64
school_enroll_prep    5247 non-null float64
school_enroll_prim    6955 non-null float64
school_gpi            5123 non-null float64
tax_rev               3724 non-null float64
trade                 8369 non-null float64
dtypes: float64(9), object(3)
memory usage: 1.2+ MB

In [17]:
df_conflict = pd.read_csv('conflict.csv',encoding='ISO-8859-1')

In [18]:
df_conflict['country_name'].value_counts().sort_index()

Afghanistan                 67
Albania                     67
Algeria                     61
Angola                      52
Argentina                   67
Armenia                     22
Australia                   67
Austria                     67
Azerbaijan                  22
Bahrain                     42
Bangladesh                  42
Belarus                     22
Belgium                     67
Benin                       53
Bhutan                      64
Bolivia                     67
Bosnia and Herzegovina      21
Botswana                    47
Brazil                      67
Bulgaria                    67
Burkina Faso                53
Burundi                     51
Cambodia                    60
Cameroon                    58
Canada                      67
Cape Verde                  38
Central African Republic    53
Chad                        53
Chile                       67
China                       67
Colombia                    67
Comoros                     38
Congo-Brazzaville           53
Congo-Kinshasa              53
Costa Rica                  67
Cote d'Ivoire               53
Croatia                     22
Cuba                        67
Cyprus                      53
Czech Republic              20
Czechoslovakia              47
Denmark                     67
Djibouti                    36
Dominican Republic          67
East Timor                  11
Ecuador                     67
Egypt                       62
El Salvador                 67
Equatorial Guinea           45
Eritrea                     20
Estonia                     22
Ethiopia                    67
Fiji                        43
Finland                     67
France                      67
Gabon                       53
Gambia                      48
Georgia                     22
Germany                     22
Germany East                42
Germany West                36
Germany, West               6
Ghana                       56
Greece                      67
Guatemala                   67
Guinea                      55
Guinea Bissau               12
Guinea-Bissau               39
Guyana                      47
Haiti                       67
Honduras                    67
Hungary                     67
India                       67
Indonesia                   65
Iran                        67
Iraq                        67
Ireland                     67
Israel                      65
Italy                       67
Jamaica                     51
Japan                       67
Jordan                      67
Kazakhstan                  22
Kenya                       61
Korea North                 65
Korea South                 65
Kosovo                      5
Kuwait                      52
Kyrgyzstan                  22
Laos                        59
Latvia                      22
Lebanon                     67
Lesotho                     47
Liberia                     67
Libya                       61
Lithuania                   22
Luxembourg                  67
Macedonia                   20
Madagascar                  55
Malawi                      49
Malaysia                    63
Mali                        53
Mauritania                  53
Mauritius                   45
Mexico                      67
Moldova                     22
Mongolia                    67
Morocco                     60
Mozambique                  48
Myanmar (Burma)             65
Namibia                     48
Nepal                       67
Netherlands                 67
New Zealand                 67
Nicaragua                   67
Niger                       53
Nigeria                     53
Norway                      67
Oman                        62
Pakistan                    67
Panama                      67
Papua New Guinea            38
Paraguay                    67
Peru                        67
Philippines                 67
Poland                      67
Portugal                    67
Qatar                       42
RUSRia                      22
Romania                     67
Rwanda                      54
Saudi Arabia                67
Senegal                     53
Serbia                      7
Serbia and Montenegro       14
Sierra Leone                52
Singapore                   48
Slovakia                    20
Slovenia                    21
Solomon Islands             35
Somalia                     53
South Africa                67
South Sudan                 2
Spain                       67
Sri Lanka                   65
Sudan                       55
Sudan, North                2
Suriname                    38
Swaziland                   45
Sweden                      67
Switzerland                 67
Syria                       67
Taiwan                      64
Tajikistan                  22
Tanzania                    52
Thailand                    67
Togo                        53
Trinidad and Tobago         51
Tunisia                     60
Turkey                      67
Turkmenistan                22
USRR (Soviet Union)         45
Uganda                      51
Ukraine                     22
United Arab Emirates        42
United Kingdom              67
United States               67
Uruguay                     67
Uzbekistan                  22
Venezuela                   67
Vietnam                     46
Vietnam North               1
Vietnam South               1
Vietnam, North              21
Vietnam, South              21
Yemen                       23
Yemen North                 9
Yemen, North                36
Yemen, South                23
Yugoslavia                  46
Zambia                      49
Zimbabwe                    47
Name: country_name, dtype: int64

In [20]:
df_indicators['year']=df_indicators['year'].apply(lambda x: int(x))

In [21]:
df_merge=pd.merge(df_indicators, df_conflict, on=['country_name','year']);
df_merge.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6802 entries, 0 to 6801
Data columns (total 43 columns):
country_name          6802 non-null object
country_code          6802 non-null object
year                  6802 non-null int64
food_index            6578 non-null float64
gdp                   5955 non-null float64
gdp_capita            5952 non-null float64
rd                    895 non-null float64
school_enroll_prep    3672 non-null float64
school_enroll_prim    4947 non-null float64
school_gpi            3708 non-null float64
tax_rev               2694 non-null float64
trade                 5920 non-null float64
SCODE                 6802 non-null object
CCODE                 6802 non-null int64
IND                   6802 non-null int64
INTIND                6799 non-null float64
INTVIOL               6745 non-null float64
INTWAR                6745 non-null float64
CIVVIOL               6745 non-null float64
CIVWAR                6745 non-null float64
ETHVIOL               6745 non-null float64
ETHWAR                6748 non-null float64
INTTOT                6745 non-null float64
CIVTOT                6748 non-null float64
ACTOTAL               6748 non-null float64
nBORDER               6745 non-null float64
TOTINT                6745 non-null float64
TOTCIV                6745 non-null float64
TOTALAC               6745 non-null float64
nINT                  6745 non-null float64
nCIV                  6745 non-null float64
nAC                   6745 non-null float64
REGION                6745 non-null float64
nREGION               6745 non-null float64
REGINT                6745 non-null float64
REGCIV                6745 non-null float64
REGAC                 6745 non-null float64
nRINT                 6745 non-null float64
nRCIV                 6745 non-null float64
nRAC                  6745 non-null float64
NCIVLIST              3026 non-null object
NINTLIST              750 non-null object
NACLIST               0 non-null object
dtypes: float64(34), int64(3), object(6)
memory usage: 2.3+ MB

In [22]:
df_merge['conflict']=df_merge['INTIND']+df_merge['INTVIOL']+\
df_merge['INTWAR']+df_merge['CIVVIOL']+df_merge['CIVWAR']+\
df_merge['ETHVIOL']+df_merge['ETHWAR']

df_merge.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6802 entries, 0 to 6801
Data columns (total 44 columns):
country_name          6802 non-null object
country_code          6802 non-null object
year                  6802 non-null int64
food_index            6578 non-null float64
gdp                   5955 non-null float64
gdp_capita            5952 non-null float64
rd                    895 non-null float64
school_enroll_prep    3672 non-null float64
school_enroll_prim    4947 non-null float64
school_gpi            3708 non-null float64
tax_rev               2694 non-null float64
trade                 5920 non-null float64
SCODE                 6802 non-null object
CCODE                 6802 non-null int64
IND                   6802 non-null int64
INTIND                6799 non-null float64
INTVIOL               6745 non-null float64
INTWAR                6745 non-null float64
CIVVIOL               6745 non-null float64
CIVWAR                6745 non-null float64
ETHVIOL               6745 non-null float64
ETHWAR                6748 non-null float64
INTTOT                6745 non-null float64
CIVTOT                6748 non-null float64
ACTOTAL               6748 non-null float64
nBORDER               6745 non-null float64
TOTINT                6745 non-null float64
TOTCIV                6745 non-null float64
TOTALAC               6745 non-null float64
nINT                  6745 non-null float64
nCIV                  6745 non-null float64
nAC                   6745 non-null float64
REGION                6745 non-null float64
nREGION               6745 non-null float64
REGINT                6745 non-null float64
REGCIV                6745 non-null float64
REGAC                 6745 non-null float64
nRINT                 6745 non-null float64
nRCIV                 6745 non-null float64
nRAC                  6745 non-null float64
NCIVLIST              3026 non-null object
NINTLIST              750 non-null object
NACLIST               0 non-null object
conflict              6745 non-null float64
dtypes: float64(35), int64(3), object(6)
memory usage: 2.3+ MB

In [26]:
df_merge.iloc[:,:-32].info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6802 entries, 0 to 6801
Data columns (total 12 columns):
country_name          6802 non-null object
country_code          6802 non-null object
year                  6802 non-null int64
food_index            6578 non-null float64
gdp                   5955 non-null float64
gdp_capita            5952 non-null float64
rd                    895 non-null float64
school_enroll_prep    3672 non-null float64
school_enroll_prim    4947 non-null float64
school_gpi            3708 non-null float64
tax_rev               2694 non-null float64
trade                 5920 non-null float64
dtypes: float64(9), int64(1), object(2)
memory usage: 690.8+ KB

In [29]:
df_final=pd.concat((df_merge.iloc[:,:-32],df_merge['conflict']), axis=1)

df_final.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6802 entries, 0 to 6801
Data columns (total 13 columns):
country_name          6802 non-null object
country_code          6802 non-null object
year                  6802 non-null int64
food_index            6578 non-null float64
gdp                   5955 non-null float64
gdp_capita            5952 non-null float64
rd                    895 non-null float64
school_enroll_prep    3672 non-null float64
school_enroll_prim    4947 non-null float64
school_gpi            3708 non-null float64
tax_rev               2694 non-null float64
trade                 5920 non-null float64
conflict              6745 non-null float64
dtypes: float64(10), int64(1), object(2)
memory usage: 744.0+ KB

In [33]:
df_final.to_csv(path_or_buf="/Users/Marina/Documents/TODAY/UN_data/conflict/data.csv", index=False)